body {
    background-image: url(fundo.jpg);
}

.formulario {
    background-color: rgba(165, 42, 42, 0.556);
    text-align: center;
    align-items: center;
    column-gap: 10px;
    margin: 100px;
    color: rgb(255, 255, 255);
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.enviar {
    background-color: rgba(7, 198, 0, 0.798);
    height: 50px;
    border-radius: 10px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: x-large;
}


.enviar:hover {
    color: aliceblue;
}

#mensagem{
    height: 20px;
}

.inicial {
    text-align: center;
    align-items: center;
    background-color: rgba(165, 42, 42, 0.556);
}

nav ul {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #000;
}