name: Deploy & Quality Assurance

on:
  push:
    branhes:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to Github pages
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    outouts:
     page-url: ${{ step.deployment.outputs.page_url }}

    enviroment:
     name: github-pages
     url: ${{ steps.deployment.outputs.page_url }}

    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Setup pages
       uses: action/configure-pages@v4

     - name: Upload artifact
       uses: actions/upload-pages-artifact@v3